<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" requirePermission="false" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication></authentication>
    <authorization></authorization>
    <httpHandlers>
      <!--ii6 打开 此节点
      <add verb="*" path="*.c" validate="false" type="HY.Frame.Core.MAgentFactory, HY.Frame.Core"/>-->
    </httpHandlers>
    <trust level="Full" originUrl="" />
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="service@91huayi.com  ">
        <network host="smtp.91huayi.com" port="25" userName="service@91huayi.com" password="0a5c18d4" enableSsl="false" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <handlers>
      <add name="cls" verb="*" path="*.c" resourceType="Unspecified" type="HY.Frame.Core.MAgentFactory, HY.Frame.Core" />
    </handlers>
    <modules>
      <add name="Auth" type="HY.Frame.Core.Authorization, HY.Frame.Core" preCondition="managedHandler" />
    </modules>
    <defaultDocument enabled="true">
      <files>
        <add value="Index.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <add name="DBEntities" providerName="System.Data.EntityClient" connectionString="metadata=res://*/DB.csdl|res://*/DB.ssdl|res://*/DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.6.150;initial catalog=kjpt_common;persist security info=True;user id=sa;password=444444;MultipleActiveResultSets=True;App=EntityFramework&quot;" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.4.0.0" newVersion="5.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.4.0.0" newVersion="5.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>